# Environnements virtuels
venv/
.env/
env/

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers temporaires
*.tmp
*.bak

# Si tu crées un exécutable avec pyinstaller ou cx_Freeze
build/
dist/
*.spec

# just in case
.env/